body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(189, 225, 122);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Optional: Space between headers and the GIF */
}
#h1Text{
    color: crimson;
}
.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
